@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #65617D;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2 {
  color: #2C3E50;
}

h2 {
  font-weight: 500;
}

.header {
  max-width: 1200px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo p {
  font-size: 2rem;
  color: #8E44AD;
  font-weight: 900;
}
.header__logo span {
  color: white;
  background-color: #8E44AD;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.header__logo span:hover {
  animation-name: letter-i;
  animation-duration: 1s;
}
@keyframes letter-i {
  100% {
    transform: rotate(360deg);
  }
}
.header__navigation {
  flex-grow: 1;
}
.header__navigation ul {
  list-style: none;
  font-size: 1.6rem;
  display: flex;
  justify-content: flex-end;
  transition: 0.2s all;
}
.header__navigation ul:hover {
  font-size: 2rem;
}
.header__navigation ul li {
  flex-basis: 11.9rem;
  text-align: center;
  padding: 1rem;
  transition: 0.2s all;
}
.header__navigation ul li:hover {
  font-weight: 700;
  letter-spacing: 0.2rem;
  cursor: pointer;
}
.header__navigation ul li:active {
  font-weight: 700;
  letter-spacing: 0.05rem;
  font-size: 1.8rem;
}

.start-section {
  max-width: 1200px;
  margin: 2rem auto;
  display: flex;
  height: 90vh;
  align-items: center;
}
.start-section__image-section {
  flex: 2;
}
.start-section__image-section img {
  width: 100%;
}
.start-section__text-section {
  flex: 1.3;
  margin-left: -10rem;
}
.start-section__text-section h1 {
  font-size: 7.2rem;
  font-weight: 400;
  line-height: 9rem;
}
.start-section__text-section p {
  margin-top: 2.9rem;
  font-size: 2.2rem;
  line-height: 3.3rem;
  max-width: 39rem;
  margin-bottom: 3rem;
}
.start-section__text-section--buttons {
  display: flex;
  max-width: 44.4rem;
  justify-content: space-between;
}

.button {
  margin: 0.5rem;
  width: 20.3rem;
  height: 5.7rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  box-shadow: none;
  font-size: 2rem;
  font-weight: 500;
  transition: all 0.2s;
}
.button:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  letter-spacing: 0.1rem;
  font-weight: 700;
}
.button:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  letter-spacing: 0rem;
  font-weight: 600;
}
.button--green {
  background: linear-gradient(to right, #16A085, #1ccdaa);
  color: white;
}
.button--green:hover {
  background: white;
  color: #16A085;
  border: #16A085 2px solid;
}
.button--green-contact {
  font-size: 1.7rem;
  width: 12rem;
  height: 4.4rem;
}
.button--white {
  background-color: white;
  color: #16A085;
  border: #16A085 2px solid;
}
.button--white:hover {
  background: linear-gradient(to right, #16A085, #1ccdaa);
  color: white;
  border: none;
}

.section-header {
  text-align: center;
  padding-top: 10rem;
}
.section-header h1 {
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: 4.4rem;
}
.section-header p {
  display: inline-block;
  font-size: 1.8rem;
  max-width: 71rem;
  line-height: 2.7rem;
}

.skills-section {
  max-width: 1200px;
  margin: 2rem auto;
}
.skills-section__listed-skills {
  margin-top: 8.8rem;
  display: flex;
  justify-content: space-evenly;
}

.skill-item {
  max-width: 22rem;
  text-align: center;
  padding: 2rem;
  transition: all 0.2s;
}
.skill-item:hover {
  border: 2px solid rgba(101, 97, 125, 0.2);
  border-radius: 5px;
  transform: scale(1.2);
  background: #fbfbfc;
}
.skill-item__icon {
  width: 100%;
}
.skill-item__description h2 {
  font-size: 2.4rem;
  margin: 2.5rem auto 1.8rem auto;
}
.skill-item__description p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.projects-section {
  max-width: 1200px;
  margin: 8rem auto 0 auto;
}

.project-item {
  margin-top: 7.2rem;
  margin-bottom: 10.5rem;
  display: flex;
  justify-content: space-evenly;
}
.project-item__icon {
  margin-left: 2rem;
  align-self: center;
}
.project-item__icon img {
  width: 100%;
}
.project-item__icon--reversed-order {
  order: 2;
  margin-left: -7rem;
}
.project-item__description {
  margin-left: -7rem;
}
.project-item__description h2 {
  font-size: 3.4rem;
  line-height: 5rem;
  max-width: 50rem;
  margin-bottom: 2.2rem;
}
.project-item__description p {
  font-size: 2.2rem;
  line-height: 3.4rem;
  font-weight: 400;
  max-width: 42.2rem;
}
.project-item__description--reversed-order {
  order: 1;
  margin-left: 2rem;
}

.about-section {
  background: url("../images/background_green.svg") no-repeat;
  background-size: cover;
  padding-bottom: 10rem;
  width: 100%;
  color: white;
}
.about-section__header h1 {
  padding-top: 5rem;
  color: white;
}
.about-section__header p {
  display: block;
  margin: 0 auto;
  font-weight: 400;
}
.about-section__header p:last-child {
  text-align: right;
  margin-top: 1.6rem;
}
.about-section__container {
  max-width: 1200px;
  margin: 6rem auto 0 auto;
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
}
.about-section__container div:last-child {
  max-width: 66.7rem;
  margin-left: 5rem;
  align-self: center;
}
.about-section__container div:last-child p {
  line-height: 3.4rem;
  font-size: 2.2rem;
  font-weight: 400;
}

.contact-section {
  max-width: 1200px;
  margin: 0 auto 5rem auto;
}
.contact-section__container {
  margin-top: 7.8rem;
  display: flex;
  justify-content: space-evenly;
}
.contact-section__container--img {
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.contact-form__input-field {
  border: #8E44AD solid 1px;
  border-radius: 0.5rem;
  width: 34.5rem;
  height: 3.5rem;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem;
}
.contact-form__input-field:focus {
  border: #8E44AD solid 2px;
}
.contact-form__input-field::placeholder {
  color: #CCCCCC;
  font-weight: 600;
  font-size: 1.4rem;
}
.contact-form__input-field--message {
  height: 12rem;
}
.contact-form__input-field--message::placeholder {
  padding-top: 4rem;
}

footer {
  height: 6.9rem;
  background: #535461;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer div {
  flex: 1;
  text-align: center;
  padding: 1rem;
}
footer div img {
  padding: 0.5rem;
}

.author {
  text-align: right;
  color: #fff;
  font-size: 1.4rem;
}

/*# sourceMappingURL=style.css.map */
